/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#fox-logo {
  background: url('../images/firefox.svg') no-repeat;
  background-size: contain;
  position: fixed;
  width: 60%;
  height: 100%;
  top: 10px;
  right: 10px;
  z-index: 0;
  opacity: 0.25;
}

a:focus {
  -moz-outline-style: none;
  outline: none;
  background: none!important;
}

.header .small {
  font-size: 80%;
  line-height: 40px;
}

.header .dates {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #EEE;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.header h3 .text-muted {
  font-weight: 300;
}

/* Custom page footer */
.footer {
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #777;
  background: #fafafa;
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
  line-height: 40px;
  border-top: 1px solid #e5e5e5;
  z-index: 20;
}

.container {
  z-index: 10;
  position: relative;
  margin-bottom: 40px;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  .item > h4 {
    margin-left: -50px;
  }

}

.item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}

.nav > li > a:hover {
  background: none;
  color: #777;
}

.nav .isRecent:before {
  content: '●';
  font-size: 120%;
  margin-left: 2px;
  position: absolute;
  left: -6px;
  top: 9px;
  color: #49C2F2;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  /*text-transform: capitalize;*/
}

.nav {
  width: 15%;
}

.nav li {
  line-height: 1;
}

.nav a {
  color: #CCC;
  font-weight: bold;
  font-size: 90%;
  transition: transform 0.2s ease-in-out;
}

.nav a.active {
  color: #544273;
  transform: translate3d(8px, 0, 0) scale(1.1);
}
#author-nav {
  padding-top: 10px;
}
.itemContent {
  color: #BBB;
}

.itemContent.isRecent {
  color: #222;
}

.legend a {
  color: #AAA;
}

.updates {
  padding-bottom: 500px;
}

.dropdown-toggle {
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu {
  height: 550px;
  overflow: scroll;
}

.dropdown-menu li {
  padding-left: 10px;
  color: #888;
  cursor: pointer;
}

.dropdown-menu li:hover {
  color: #444;
}

.dropdown-menu li .name {
  width: 90%;
  padding-left: 3px;
  display: inline-block;
}

.dropdown-menu li .star {
  padding-right: 10px;
  color: #DDD;
  position: relative;
  top: 3px;
  width: 7%;
}

.dropdown-menu li .star.starred {
  color: #FFEA00;
}
.loading-message {
  /*text-align: center;*/
  padding: 15px;
}

.image-thumbnail {
  width: auto;
  display: inline-block;
  border-radius: 4px;
  border: 6px solid rgba(0,0,0,0.05);
  margin-right: 10px;
}

.image-thumbnail:hover {
  border-color: #49C2F2;
}

.image-thumbnail img {
  max-height: 200px;
  max-width: 200px;
}

.images-top {
  background: #EEE;
  margin: 5px 15px 5px 15px;
}
.image-thumb-top-wrap {
  display: inline-block;
  max-height: 60px;
  max-width: 60px;
}
.image-thumb-top {
  max-height: 60px;
  max-width: 60px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}

.image-thumb-top:hover {
  position: relative;
  z-index: 1000;
  cursor: pointer;
  -webkit-transform: scale(3);
  transform: scale(3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}